/* Body padding to fix position fixed in header and nav */
body{padding-top: 70px; padding-bottom: 55px;}

/* Settings */

/* Header */
.page-header { top: 0; left: 0; z-index: 9999 }
.page-header svg { cursor: pointer; }

/* Navbar */
nav {
    background-image: url('../imgs/nav.png');
    background-size: cover;
    background-position: center;
    height: 100px;
}

nav ul .special-item a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 35px;
    background-color: white;
    box-shadow: 0 0 4px -1px;
    bottom: 7px;
    overflow: hidden;
}

/* Settings header */
.settings .settings-header, .settings article { width: 90% }

.settings-header a { font-size: 22px }

.settings-header a:hover { text-decoration: none }

.settings article .tabs ul li {
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 0 0 14px -9px;
    line-height: 32px;
    cursor: pointer;
}
/* End settings */

/* Tabs content */
.tabs-content > div { display: none; width: 90% }

/* Profile tab */
.tabs-content .content-profile .account-imgs {  margin-bottom: 60px }

.tabs-content .content-profile .cover { max-height: 220px; }

.tabs-content .content-profile .cover svg,
.tabs-content .content-profile .avatar svg {
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs-content .content-profile .cover input,
.tabs-content .content-profile .avatar input {
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.tabs-content .content-profile .avatar { bottom: -52px; left: 1rem; }

.tabs-content .content-profile .privacy-switch svg { cursor: pointer }

/* Global */
textarea { resize: none }